# Created by venv; see https://docs.python.org/3/library/venv.html

.env
.env.local
.env.*.local

# =========================
# OS & Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# Virtual Environment
env/
pyvenv.cfg

# =========================
# Django
# =========================
db.sqlite3
staticfiles/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node / Tailwind
# =========================
node_modules/
dist/

# =========================
# Logs
# =========================
*.log
